.container {
  display: flex;
  flex-direction: row;
}
.banner-v-1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.text {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}
.text,.text1 {
  text-align: center;
}
.text1 {
  font-size: 24px;
  margin-bottom: 32px;
}
.container2 {
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  padding: 16px 32px;
  font-size: 18px;
  border-radius: 8px;
  background-color: #007BFF;
}

@media(max-width: 768px) {
  .container1 {
    background-color: var(--color-primary);
  }
}
