.new-figma,.careers {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.careers {
  gap: 10px;
  height: auto;
  padding: 0 0 0 198px;
  flex-shrink: 0;
  background-color: rgba(211, 204, 189, 1);
}
.frame-14190 {
  gap: 84px;
  width: 1232px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-14189 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text {
  color: rgba(0, 0, 0, 1);
  width: 395px;
  height: auto;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Amiri;
  font-weight: 400;
  line-height: 119.29999589920044%;
  font-stretch: normal;
  text-decoration: none;
}
.frame-14192 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text1 {
  color: rgba(0, 0, 0, 1);
  width: 403px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  text-decoration: none;
}
.frame-14191 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
}
.link {
  border-radius: 100px;
  background-color: rgba(245, 243, 238, 1);
}
.link,.submit-button {
  gap: 8px;
  display: flex;
  padding: 10px 24px;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.submit-button {
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
}
.maskgroup {
  width: 760px;
  height: 411px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.peel-village-outdoor-patio-1 {
  top: 0px;
  left: -77.1872329711914px;
  width: 865px;
  height: 416px;
  position: absolute;
}

