.footer {
  display: block;
  box-sizing: border-box;
}
.footer:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.footer1 {
  color: rgb(255, 255, 255);
  display: block;
  z-index: 4;
  position: relative;
  box-sizing: border-box;
}
.footer1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div {
  display: block;
  font-size: 14px;
  box-sizing: border-box;
  padding-top: 40px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
  background-color: rgb(116, 117, 119);
}
.div:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div1 {
  display: flex;
  max-width: 1365px;
  box-sizing: border-box;
  margin-top: 0px;
  align-items: center;
  margin-left: auto;
  padding-top: 0px;
  margin-right: auto;
  padding-left: 30px;
  margin-bottom: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  justify-content: space-between;
}
.div1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div2 {
  display: block;
  min-width: 250px;
  box-sizing: border-box;
  padding-right: 20px;
}
.div2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.h-2 {
  color: rgb(255, 255, 255);
  display: block;
  opacity: 0.7;
  font-size: 26px;
  box-sizing: border-box;
  margin-top: 0px;
  font-family: Amiri, serif;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 20px;
}
.h-2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p {
  display: block;
  box-sizing: border-box;
  margin-top: 0px;
  line-height: 1.5;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0.8em;
}
.p:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.span {
  box-sizing: border-box;
}
.span:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.br {
  box-sizing: border-box;
}
.br:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.br1 {
  box-sizing: border-box;
}
.br1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.br2 {
  box-sizing: border-box;
}
.br2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.span1 {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 7px;
}
.span1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div3 {
  display: block;
  box-sizing: border-box;
}
.div3:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a {
  color: inherit;
  border: 1px solid #587a8d;
  cursor: pointer;
  display: block;
  font-size: 0.875rem;
  min-width: 180px;
  box-sizing: border-box;
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 20px;
  padding-top: 0.75rem;
  user-select: none;
  margin-right: 20px;
  padding-left: 0.75rem;
  margin-bottom: 20px;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: rgb(118, 118, 121);
  border-top-color: rgb(248, 249, 250);
  border-top-style: solid;
  border-top-width: 1px;
  transition-delay: 0s, 0s, 0s, 0s;
  border-left-color: rgb(248, 249, 250);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(248, 249, 250);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(248, 249, 250);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-property: color, background-color, border-color, box-shadow;
  text-decoration-line: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
}
.a:hover {
  color: rgb(88, 122, 141);
  background-color: rgb(248, 249, 250);
}
.a:focus {
  box-shadow: rgba(88, 122, 141, 0.25) 0px 0px 0px 0.2rem;
  outline-width: 0px;
}
.a:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.a01 {
  color: inherit;
  border: 1px solid #587a8d;
  cursor: pointer;
  display: block;
  font-size: 0.875rem;
  min-width: 180px;
  box-sizing: border-box;
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 20px;
  padding-top: 0.75rem;
  user-select: none;
  margin-right: 20px;
  padding-left: 0.75rem;
  margin-bottom: 20px;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: rgb(118, 118, 121);
  border-top-color: rgb(248, 249, 250);
  border-top-style: solid;
  border-top-width: 1px;
  transition-delay: 0s, 0s, 0s, 0s;
  border-left-color: rgb(248, 249, 250);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(248, 249, 250);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(248, 249, 250);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-property: color, background-color, border-color, box-shadow;
  text-decoration-line: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
}
.a01:hover {
  color: rgb(88, 122, 141);
  background-color: rgb(248, 249, 250);
}
.a01:focus {
  box-shadow: rgba(88, 122, 141, 0.25) 0px 0px 0px 0.2rem;
  outline-width: 0px;
}
.a01:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.hr {
  width: 0px;
  border: none;
  height: 126px;
  display: block;
  opacity: 0.14;
  margin-top: 0px;
  overflow-x: visible;
  overflow-y: visible;
  margin-left: 40px;
  padding-top: 0px;
  margin-right: 40px;
  padding-left: 0px;
  unicode-bidi: isolate;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-top-style: none;
  border-left-style: none;
  border-right-color: rgb(0, 0, 0);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: none;
}
.hr:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.ul {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-transform: uppercase;
  list-style-type: none;
}
.ul:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.li {
  width: 50%;
  display: list-item;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.li:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a02 {
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration-line: none;
}
.a02:hover {
  text-decoration-line: underline;
}
.a02:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.li01 {
  width: 50%;
  display: list-item;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.li01:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a03 {
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration-line: none;
}
.a03:hover {
  text-decoration-line: underline;
}
.a03:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.li02 {
  width: 50%;
  display: list-item;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.li02:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a04 {
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration-line: none;
}
.a04:hover {
  text-decoration-line: underline;
}
.a04:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.li03 {
  width: 50%;
  display: list-item;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.li03:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a05 {
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration-line: none;
}
.a05:hover {
  text-decoration-line: underline;
}
.a05:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.li04 {
  width: 50%;
  display: list-item;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.li04:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a06 {
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration-line: none;
}
.a06:hover {
  text-decoration-line: underline;
}
.a06:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.li05 {
  width: 50%;
  display: list-item;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.li05:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a07 {
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration-line: none;
}
.a07:hover {
  text-decoration-line: underline;
}
.a07:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.hr1 {
  width: 0px;
  border: none;
  height: 126px;
  display: block;
  opacity: 0.14;
  margin-top: 0px;
  overflow-x: visible;
  overflow-y: visible;
  margin-left: 40px;
  padding-top: 0px;
  margin-right: 40px;
  padding-left: 0px;
  unicode-bidi: isolate;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-top-style: none;
  border-left-style: none;
  border-right-color: rgb(0, 0, 0);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: none;
}
.hr1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div4 {
  display: block;
  text-wrap: nowrap;
  box-sizing: border-box;
  white-space-collapse: collapse;
}
.div4:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.h-21 {
  color: rgb(255, 255, 255);
  display: block;
  opacity: 0.7;
  font-size: 26px;
  box-sizing: border-box;
  margin-top: 0px;
  font-family: Amiri, serif;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 20px;
}
.h-21:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div5 {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: -15px;
  margin-right: -15px;
}
.div5:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div6 {
  width: 100%;
  display: block;
  position: relative;
  flex-grow: 0;
  max-width: 100%;
  box-sizing: border-box;
  flex-basis: 100%;
  text-align: center;
  flex-shrink: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.div6:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a08 {
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration-line: none;
}
.a08:hover {
  text-decoration-line: underline;
}
.a08:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.img {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  overflow-x: clip;
  overflow-y: clip;
  aspect-ratio: auto 1024 / 1018;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  overflow-clip-margin: content-box;
}
.img:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a09 {
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 20px;
  text-decoration-line: none;
}
.a09:hover {
  text-decoration-line: underline;
}
.a09:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.img1 {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  overflow-x: clip;
  overflow-y: clip;
  aspect-ratio: auto 21 / 21;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  overflow-clip-margin: content-box;
}
.img1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a10 {
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 20px;
  text-decoration-line: none;
}
.a10:hover {
  text-decoration-line: underline;
}
.a10:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.img2 {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  overflow-x: clip;
  overflow-y: clip;
  aspect-ratio: auto 612 / 611;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  overflow-clip-margin: content-box;
}
.img2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a11 {
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 20px;
  text-decoration-line: none;
}
.a11:hover {
  text-decoration-line: underline;
}
.a11:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.img3 {
  width: 26px;
  height: 18px;
  box-sizing: border-box;
  overflow-x: clip;
  overflow-y: clip;
  aspect-ratio: auto 60 / 41;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  overflow-clip-margin: content-box;
}
.img3:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a12 {
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 20px;
  text-decoration-line: none;
}
.a12:hover {
  text-decoration-line: underline;
}
.a12:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.img4 {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  overflow-x: clip;
  overflow-y: clip;
  aspect-ratio: auto 243 / 243;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  overflow-clip-margin: content-box;
}
.img4:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div7 {
  display: block;
  font-size: 12px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  background-color: rgb(108, 109, 112);
}
.div7:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div8 {
  display: flex;
  max-width: 1365px;
  box-sizing: border-box;
  margin-top: 0px;
  align-items: center;
  margin-left: auto;
  padding-top: 0px;
  margin-right: auto;
  padding-left: 30px;
  margin-bottom: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
}
.div8:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.ul1 {
  display: block;
  box-sizing: border-box;
  margin-top: 0px;
  text-align: center;
  margin-left: 0px;
  padding-top: 10px;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  list-style-type: none;
}
.ul1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.li06 {
  display: inline-block;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
}
.li06:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a13 {
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration-line: none;
}
.a13:hover {
  text-decoration-line: underline;
}
.a13:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.li07 {
  display: inline-block;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
}
.li07:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a14 {
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration-line: none;
}
.a14:hover {
  text-decoration-line: underline;
}
.a14:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.li08 {
  display: inline-block;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
}
.li08:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a15 {
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration-line: none;
}
.a15:hover {
  text-decoration-line: underline;
}
.a15:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.li09 {
  display: inline-block;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
}
.li09:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a16 {
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration-line: none;
}
.a16:hover {
  text-decoration-line: underline;
}
.a16:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.li10 {
  display: inline-block;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
}
.li10:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a17 {
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration-line: none;
}
.a17:hover {
  text-decoration-line: underline;
}
.a17:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.p1 {
  display: block;
  flex-grow: 1;
  box-sizing: border-box;
  margin-top: 0px;
  text-align: right;
  line-height: 1.8;
  margin-left: 0px;
  padding-top: 10px;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
}
.p1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}

@media(max-width: 575px) {
  .footer,.footer1 {
    display: block;
    box-sizing: border-box;
  }
  .footer1 {
    color: rgb(255, 255, 255);
    z-index: 4;
    position: relative;
  }
  .div {
    font-size: 14px;
    text-align: center;
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 40px;
    background-color: rgb(116, 117, 119);
  }
  .div,.div1 {
    display: block;
    box-sizing: border-box;
  }
  .div1 {
    max-width: 1365px;
    margin-top: 0px;
    align-items: center;
    margin-left: auto;
    padding-top: 0px;
    margin-right: auto;
    padding-left: 30px;
    margin-bottom: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    justify-content: space-between;
  }
  .div2 {
    display: block;
    min-width: 160px;
    box-sizing: border-box;
    margin-bottom: 40px;
    padding-right: 0px;
  }
  .h-2 {
    color: rgb(255, 255, 255);
    opacity: 0.7;
    font-size: 26px;
    font-family: Amiri, serif;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .h-2,.p {
    display: block;
    box-sizing: border-box;
    margin-top: 0px;
  }
  .p {
    line-height: 1.5;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0.8em;
  }
  .span,.br,.br1,.br2,.span1 {
    box-sizing: border-box;
  }
  .span1 {
    display: inline-block;
    margin-top: 7px;
  }
  .div3 {
    display: block;
    box-sizing: border-box;
  }
  .a,.a01 {
    color: inherit;
    border: 1px solid #587a8d;
    cursor: pointer;
    display: inline-block;
    font-size: 0.875rem;
    min-width: 180px;
    box-sizing: border-box;
    margin-top: 20px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 20px;
    padding-top: 0.75rem;
    user-select: none;
    margin-right: 20px;
    padding-left: 0.75rem;
    margin-bottom: 20px;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: rgb(118, 118, 121);
    border-top-color: rgb(248, 249, 250);
    border-top-style: solid;
    border-top-width: 1px;
    transition-delay: 0s, 0s, 0s, 0s;
    border-left-color: rgb(248, 249, 250);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(248, 249, 250);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(248, 249, 250);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-property: color, background-color, border-color, box-shadow;
    text-decoration-line: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  }
  .hr {
    width: 100%;
    border: none;
    height: 0px;
    opacity: 0.14;
    margin-top: 40px;
    overflow-x: visible;
    overflow-y: visible;
    unicode-bidi: isolate;
    margin-bottom: 40px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  .hr,.ul {
    display: block;
    margin-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .ul {
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    list-style-type: none;
  }
  .ul,.li {
    box-sizing: border-box;
  }
  .li {
    width: auto;
    display: list-item;
    text-align: -webkit-match-parent;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
  }
  .a02 {
    color: inherit;
    cursor: pointer;
    text-decoration-line: none;
  }
  .a02,.li01 {
    box-sizing: border-box;
  }
  .li01 {
    width: auto;
    display: list-item;
    text-align: -webkit-match-parent;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
  }
  .a03 {
    color: inherit;
    cursor: pointer;
    text-decoration-line: none;
  }
  .a03,.li02 {
    box-sizing: border-box;
  }
  .li02 {
    width: auto;
    display: list-item;
    text-align: -webkit-match-parent;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
  }
  .a04 {
    color: inherit;
    cursor: pointer;
    text-decoration-line: none;
  }
  .a04,.li03 {
    box-sizing: border-box;
  }
  .li03 {
    width: auto;
    display: list-item;
    text-align: -webkit-match-parent;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
  }
  .a05 {
    color: inherit;
    cursor: pointer;
    text-decoration-line: none;
  }
  .a05,.li04 {
    box-sizing: border-box;
  }
  .li04 {
    width: auto;
    display: list-item;
    text-align: -webkit-match-parent;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
  }
  .a06 {
    color: inherit;
    cursor: pointer;
    text-decoration-line: none;
  }
  .a06,.li05 {
    box-sizing: border-box;
  }
  .li05 {
    width: auto;
    display: list-item;
    text-align: -webkit-match-parent;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
  }
  .a07 {
    color: inherit;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration-line: none;
  }
  .hr1 {
    width: 100%;
    border: none;
    height: 0px;
    display: block;
    opacity: 0.14;
    margin-top: 40px;
    overflow-x: visible;
    overflow-y: visible;
    margin-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    unicode-bidi: isolate;
    margin-bottom: 40px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  .div4 {
    text-wrap: nowrap;
    white-space-collapse: collapse;
  }
  .div4,.h-21 {
    display: block;
    box-sizing: border-box;
  }
  .h-21 {
    color: rgb(255, 255, 255);
    opacity: 0.7;
    font-size: 26px;
    margin-top: 0px;
    font-family: Amiri, serif;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .div5 {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .div5,.div6 {
    box-sizing: border-box;
  }
  .div6 {
    width: 100%;
    display: block;
    position: relative;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
    text-align: center;
    flex-shrink: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .a08 {
    color: inherit;
    cursor: pointer;
    text-decoration-line: none;
  }
  .a08,.img {
    box-sizing: border-box;
  }
  .img {
    width: 32px;
    height: 32px;
    overflow-x: clip;
    overflow-y: clip;
    aspect-ratio: auto 1024 / 1018;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    overflow-clip-margin: content-box;
  }
  .a09 {
    color: inherit;
    cursor: pointer;
    margin-left: 20px;
    text-decoration-line: none;
  }
  .a09,.img1 {
    box-sizing: border-box;
  }
  .img1 {
    width: 32px;
    height: 32px;
    overflow-x: clip;
    overflow-y: clip;
    aspect-ratio: auto 21 / 21;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    overflow-clip-margin: content-box;
  }
  .a10 {
    color: inherit;
    cursor: pointer;
    margin-left: 20px;
    text-decoration-line: none;
  }
  .a10,.img2 {
    box-sizing: border-box;
  }
  .img2 {
    width: 32px;
    height: 32px;
    overflow-x: clip;
    overflow-y: clip;
    aspect-ratio: auto 612 / 611;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    overflow-clip-margin: content-box;
  }
  .a11 {
    color: inherit;
    cursor: pointer;
    margin-left: 20px;
    text-decoration-line: none;
  }
  .a11,.img3 {
    box-sizing: border-box;
  }
  .img3 {
    width: 42px;
    height: 32px;
    overflow-x: clip;
    overflow-y: clip;
    aspect-ratio: auto 60 / 41;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    overflow-clip-margin: content-box;
  }
  .a12 {
    color: inherit;
    cursor: pointer;
    margin-left: 20px;
    text-decoration-line: none;
  }
  .a12,.img4 {
    box-sizing: border-box;
  }
  .img4 {
    width: 32px;
    height: 32px;
    overflow-x: clip;
    overflow-y: clip;
    aspect-ratio: auto 243 / 243;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    overflow-clip-margin: content-box;
  }
  .div7 {
    display: block;
    font-size: 12px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    background-color: rgb(108, 109, 112);
  }
  .div8 {
    display: flex;
    max-width: 1365px;
    align-items: center;
    margin-left: auto;
    padding-top: 0px;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
    padding-bottom: 0px;
  }
  .div8,.ul1 {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .ul1 {
    display: block;
    text-align: center;
    margin-left: 0px;
    padding-top: 10px;
    margin-right: 0px;
    padding-bottom: 10px;
    list-style-type: none;
  }
  .ul1,.li06 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .li06 {
    display: inline-block;
    text-align: -webkit-match-parent;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .li06,.a13 {
    box-sizing: border-box;
  }
  .a13 {
    color: inherit;
    cursor: pointer;
    text-decoration-line: none;
  }
  .li07 {
    display: inline-block;
    text-align: -webkit-match-parent;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
  }
  .li07,.a14 {
    box-sizing: border-box;
  }
  .a14 {
    color: inherit;
    cursor: pointer;
    text-decoration-line: none;
  }
  .li08 {
    display: inline-block;
    text-align: -webkit-match-parent;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
  }
  .li08,.a15 {
    box-sizing: border-box;
  }
  .a15 {
    color: inherit;
    cursor: pointer;
    text-decoration-line: none;
  }
  .li09 {
    display: inline-block;
    text-align: -webkit-match-parent;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
  }
  .li09,.a16 {
    box-sizing: border-box;
  }
  .a16 {
    color: inherit;
    cursor: pointer;
    text-decoration-line: none;
  }
  .li10 {
    display: inline-block;
    text-align: -webkit-match-parent;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
  }
  .li10,.a17 {
    box-sizing: border-box;
  }
  .a17 {
    color: inherit;
    cursor: pointer;
    text-decoration-line: none;
  }
  .p1 {
    display: block;
    flex-grow: 1;
    box-sizing: border-box;
    margin-top: 0px;
    text-align: left;
    line-height: 1.8;
    margin-left: 0px;
    padding-top: 10px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
  }
}
