.footer {
  color: rgb(255, 255, 255);
  display: block;
  box-sizing: border-box;
  padding-top: 70px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 70px;
  background-color: rgb(120, 157, 74);
}
.footer:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div {
  width: 90%;
  display: block;
  max-width: 1200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  animation-name: nodeInserted;
  animation-duration: 0.01s;
}
.div:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div01 {
  display: block;
  box-sizing: border-box;
  animation-name: nodeInserted;
  animation-duration: 0.01s;
}
.div01:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div02 {
  display: flex;
  box-sizing: border-box;
  animation-name: nodeInserted;
  justify-content: space-between;
  animation-duration: 0.01s;
}
.div02:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div03 {
  width: 30%;
  display: block;
  box-sizing: border-box;
  animation-name: nodeInserted;
  animation-duration: 0.01s;
}
.div03:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.h-5 {
  display: block;
  font-size: 1em;
  box-sizing: border-box;
  margin-top: 0px;
  font-family: Gilroy, sans-serif;
  font-weight: bold;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-transform: uppercase;
}
.h-5:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p {
  display: block;
  font-size: 14px;
  box-sizing: border-box;
  font-style: normal;
  margin-top: 12px;
  font-family: Gilroy, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.p:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a {
  color: inherit;
  cursor: pointer;
  display: inline;
  position: relative;
  box-sizing: border-box;
  line-height: 1em;
  background-color: transparent;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  text-decoration-line: none;
  text-decoration-skip-ink: auto;
  transition-timing-function: ease;
}
.a:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.p1 {
  display: block;
  font-size: 14px;
  box-sizing: border-box;
  font-style: normal;
  margin-top: 12px;
  font-family: Gilroy, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.p1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div04 {
  width: 30%;
  display: block;
  box-sizing: border-box;
  animation-name: nodeInserted;
  animation-duration: 0.01s;
}
.div04:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.h-51 {
  display: block;
  font-size: 1em;
  box-sizing: border-box;
  margin-top: 0px;
  font-family: Gilroy, sans-serif;
  font-weight: bold;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-transform: uppercase;
}
.h-51:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p2 {
  display: block;
  font-size: 14px;
  box-sizing: border-box;
  font-style: normal;
  margin-top: 12px;
  font-family: Gilroy, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.p2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a1 {
  color: inherit;
  cursor: pointer;
  display: inline;
  position: relative;
  box-sizing: border-box;
  line-height: 1em;
  background-color: transparent;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  text-decoration-line: underline;
  text-decoration-skip-ink: auto;
  transition-timing-function: ease;
}
.a1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.div05 {
  width: 110px;
  display: block;
  box-sizing: border-box;
  animation-name: nodeInserted;
  animation-duration: 0.01s;
}
.div05:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.h-52 {
  display: block;
  font-size: 1em;
  box-sizing: border-box;
  margin-top: 0px;
  font-family: Gilroy, sans-serif;
  font-weight: bold;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-transform: uppercase;
}
.h-52:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div06 {
  display: flex;
  box-sizing: border-box;
  padding-top: 12px;
  animation-name: nodeInserted;
  justify-content: flex-start;
  animation-duration: 0.01s;
}
.div06:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a2 {
  color: inherit;
  cursor: pointer;
  display: inline;
  position: relative;
  box-sizing: border-box;
  line-height: 1em;
  margin-right: 30px;
  background-color: transparent;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  text-decoration-line: none;
  text-decoration-skip-ink: auto;
  transition-timing-function: ease;
}
.a2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.a3 {
  color: inherit;
  cursor: pointer;
  display: inline;
  position: relative;
  box-sizing: border-box;
  line-height: 1em;
  margin-right: 30px;
  background-color: transparent;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  text-decoration-line: none;
  text-decoration-skip-ink: auto;
  transition-timing-function: ease;
}
.a3:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.a4 {
  color: inherit;
  cursor: pointer;
  display: inline;
  position: relative;
  box-sizing: border-box;
  line-height: 1em;
  margin-right: 0px;
  background-color: transparent;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  text-decoration-line: none;
  text-decoration-skip-ink: auto;
  transition-timing-function: ease;
}
.a4:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.div07 {
  display: block;
  font-size: 12px;
  box-sizing: border-box;
  margin-top: 25px;
  padding-top: 25px;
  animation-name: nodeInserted;
  border-top-color: rgb(255, 255, 255);
  border-top-style: solid;
  border-top-width: 1px;
  animation-duration: 0.01s;
}
.div07:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div08 {
  display: flex;
  box-sizing: border-box;
  animation-name: nodeInserted;
  justify-content: space-between;
  animation-duration: 0.01s;
}
.div08:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div09 {
  display: block;
  box-sizing: border-box;
  animation-name: nodeInserted;
  animation-duration: 0.01s;
}
.div09:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p3 {
  display: block;
  font-size: 1em;
  box-sizing: border-box;
  font-style: normal;
  margin-top: 0px;
  font-family: Gilroy, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.p3:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p4 {
  display: block;
  font-size: 1em;
  box-sizing: border-box;
  font-style: normal;
  margin-top: 0px;
  font-family: Gilroy, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.p4:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.br {
  box-sizing: border-box;
}
.br:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a5 {
  color: inherit;
  cursor: pointer;
  display: inline;
  position: relative;
  box-sizing: border-box;
  line-height: 1em;
  background-color: transparent;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  text-decoration-line: underline;
  text-decoration-skip-ink: auto;
  transition-timing-function: ease;
}
.a5:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.a6 {
  color: inherit;
  cursor: pointer;
  display: inline;
  position: relative;
  box-sizing: border-box;
  line-height: 1em;
  background-color: transparent;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  text-decoration-line: underline;
  text-decoration-skip-ink: auto;
  transition-timing-function: ease;
}
.a6:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}

@media(max-width: 1300px) {
  .div {
    width: 90%;
  }
}
@media(max-width: 1280px) {
  .footer {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .div {
    width: calc(100% - 120px);
    padding-left: unset;
    padding-right: unset;
  }
  .div02 {
    flex-direction: unset;
  }
  .div03,.div04 {
    width: 30%;
  }
  .div03,.div04,.div05 {
    margin-bottom: unset;
  }
  .div06,.div08 {
    flex-direction: unset;
  }
}
@media(max-width: 1024px) {
  .footer {
    color: rgb(255, 255, 255);
    display: block;
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    background-color: rgb(120, 157, 74);
  }
  .div {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  .div,.div01 {
    display: block;
  }
  .div,.div01,.div02 {
    box-sizing: border-box;
    animation-name: nodeInserted;
    animation-duration: 0.01s;
  }
  .div02 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .div03 {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 30px;
    animation-name: nodeInserted;
    animation-duration: 0.01s;
  }
  .h-5 {
    font-size: 1em;
    margin-top: 0px;
    font-weight: bold;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    text-transform: uppercase;
  }
  .h-5,.p {
    display: block;
    box-sizing: border-box;
    font-family: Gilroy, sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .p {
    font-size: 14px;
    font-style: normal;
    margin-top: 12px;
    font-weight: 400;
    line-height: 1.4em;
  }
  .a {
    color: inherit;
    cursor: pointer;
    display: inline;
    position: relative;
    box-sizing: border-box;
    line-height: 1em;
    background-color: transparent;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    text-decoration-line: none;
    text-decoration-skip-ink: auto;
    transition-timing-function: ease;
  }
  .p1 {
    font-size: 14px;
    font-style: normal;
    margin-top: 12px;
    font-family: Gilroy, sans-serif;
    font-weight: 400;
    line-height: 1.4em;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .p1,.div04 {
    display: block;
    box-sizing: border-box;
  }
  .div04 {
    width: 100%;
    margin-bottom: 30px;
    animation-name: nodeInserted;
    animation-duration: 0.01s;
  }
  .h-51 {
    font-size: 1em;
    margin-top: 0px;
    font-weight: bold;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    text-transform: uppercase;
  }
  .h-51,.p2 {
    display: block;
    box-sizing: border-box;
    font-family: Gilroy, sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .p2 {
    font-size: 14px;
    font-style: normal;
    margin-top: 12px;
    font-weight: 400;
    line-height: 1.4em;
  }
  .a1 {
    color: inherit;
    cursor: pointer;
    display: inline;
    position: relative;
    box-sizing: border-box;
    line-height: 1em;
    background-color: transparent;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    text-decoration-line: underline;
    text-decoration-skip-ink: auto;
    transition-timing-function: ease;
  }
  .div05 {
    width: 110px;
    margin-bottom: 30px;
    animation-name: nodeInserted;
    animation-duration: 0.01s;
  }
  .div05,.h-52 {
    display: block;
    box-sizing: border-box;
  }
  .h-52 {
    font-size: 1em;
    margin-top: 0px;
    font-family: Gilroy, sans-serif;
    font-weight: bold;
    margin-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    text-transform: uppercase;
  }
  .div06 {
    display: flex;
    box-sizing: border-box;
    padding-top: 12px;
    animation-name: nodeInserted;
    flex-direction: row;
    justify-content: flex-start;
    animation-duration: 0.01s;
  }
  .a2,.a3 {
    margin-right: 30px;
  }
  .a2,.a3,.a4 {
    color: inherit;
    cursor: pointer;
    display: inline;
    position: relative;
    box-sizing: border-box;
    line-height: 1em;
    background-color: transparent;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    text-decoration-line: none;
    text-decoration-skip-ink: auto;
    transition-timing-function: ease;
  }
  .a4 {
    margin-right: 0px;
  }
  .div07 {
    display: block;
    font-size: 12px;
    margin-top: 25px;
    padding-top: 25px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-top-width: 1px;
  }
  .div07,.div08 {
    box-sizing: border-box;
    animation-name: nodeInserted;
    animation-duration: 0.01s;
  }
  .div08 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .div09 {
    display: block;
    box-sizing: border-box;
    animation-name: nodeInserted;
    animation-duration: 0.01s;
  }
  .p3 {
    padding-bottom: 20px;
  }
  .p3,.p4 {
    display: block;
    font-size: 1em;
    box-sizing: border-box;
    font-style: normal;
    margin-top: 0px;
    font-family: Gilroy, sans-serif;
    font-weight: 400;
    line-height: 1.4em;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .p4 {
    padding-bottom: 0px;
  }
  .br {
    box-sizing: border-box;
  }
  .a5,.a6 {
    color: inherit;
    cursor: pointer;
    display: inline;
    position: relative;
    box-sizing: border-box;
    line-height: 1em;
    background-color: transparent;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    text-decoration-line: underline;
    text-decoration-skip-ink: auto;
    transition-timing-function: ease;
  }
}
