.amica-reverse-differentor-panel {
  display: flex;
  z-index: 4;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  padding-top: 40px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  background-position-x: center;
  background-position-y: center;
}
.amica-reverse-differentor-panel:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div {
  width: 100%;
  display: flex;
  z-index: 4;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  padding-top: 40px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row-reverse;
  padding-bottom: 40px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
.div:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div1 {
  display: block;
  flex-grow: 1;
  box-sizing: border-box;
  flex-basis: 0px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  justify-content: center;
}
.div1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.h-2 {
  color: rgb(118, 118, 121);
  display: block;
  font-size: 36px;
  max-width: 440px;
  box-sizing: border-box;
  margin-top: auto;
  font-family: amiriregular, serif;
  font-weight: 400;
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.h-2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div2 {
  display: block;
  max-width: 440px;
  box-sizing: border-box;
  margin-top: auto;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
.div2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div3 {
  color: rgb(101, 101, 103);
  display: block;
  flex-grow: 1;
  box-sizing: border-box;
  flex-basis: 0px;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  justify-content: center;
}
.div3:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div4 {
  display: block;
  max-width: 440px;
  box-sizing: border-box;
  margin-top: auto;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
.div4:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div5 {
  display: block;
  box-sizing: border-box;
}
.div5:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a {
  color: rgb(88, 122, 141);
  border: 1px solid #587a8d;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  min-width: 250px;
  text-wrap: nowrap;
  box-sizing: border-box;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 0.75rem;
  user-select: none;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  text-transform: uppercase;
  vertical-align: middle;
  border-top-color: rgb(88, 122, 141);
  border-top-style: solid;
  border-top-width: 1px;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  border-left-color: rgb(88, 122, 141);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(88, 122, 141);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(88, 122, 141);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s, 0.15s;
  transition-property: color, background-color, border-color, box-shadow, -webkit-box-shadow;
  text-decoration-line: none;
  white-space-collapse: collapse;
  background-position-x: 0px;
  background-position-y: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
}
.a:focus {
  box-shadow: rgba(88, 122, 141, 0.25) 0px 0px 0px 0.2rem;
  outline-width: 0px;
}
.a:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.div6 {
  display: block;
  box-sizing: border-box;
}
.div6:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div7 {
  display: flex;
  flex-grow: 1;
  max-width: 80%;
  box-sizing: border-box;
  flex-basis: 0px;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  justify-content: center;
}
.div7:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.img {
  width: 90%;
  height: auto;
  box-sizing: border-box;
  overflow-x: clip;
  overflow-y: clip;
  aspect-ratio: auto 760 / 507;
  vertical-align: middle;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  overflow-clip-margin: content-box;
}
.img:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}

@media(max-width: 992px) {
  .amica-reverse-differentor-panel {
    border: unset;
    min-height: unset;
    background-image: unset;
    border-top-color: unset;
    border-top-style: unset;
    border-top-width: unset;
    border-left-color: unset;
    border-left-style: unset;
    border-left-width: unset;
    border-right-color: unset;
    border-right-style: unset;
    border-right-width: unset;
    border-bottom-color: unset;
    border-bottom-style: unset;
    border-bottom-width: unset;
    background-position-x: center;
    background-position-y: center;
  }
  .amica-reverse-differentor-panel,.div {
    display: flex;
    padding-bottom: 40px;
  }
  .div {
    padding-top: 40px;
  }
  .h-2,.div2,.div4 {
    max-width: 440px;
  }
  .div7 {
    display: flex;
  }
  .img {
    width: 90%;
  }
}
@media(max-width: 575px) {
  .amica-reverse-differentor-panel {
    border: solid 10px #f2f1ed;
    min-height: 0px;
    padding-top: 40px;
    background-size: cover;
    background-color: rgb(255, 255, 255);
    background-image: none;
    border-top-color: rgb(242, 241, 237);
    border-top-style: solid;
    border-top-width: 10px;
    border-left-color: rgb(242, 241, 237);
    border-left-style: solid;
    border-left-width: 10px;
    border-right-color: rgb(242, 241, 237);
    border-right-style: solid;
    border-right-width: 10px;
    border-bottom-color: rgb(242, 241, 237);
    border-bottom-style: solid;
    border-bottom-width: 10px;
    background-position-x: left;
    background-position-y: bottom;
  }
  .amica-reverse-differentor-panel,.div {
    display: block;
    z-index: 4;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .div {
    width: 100%;
    padding-top: 0px;
    flex-direction: row-reverse;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
  }
  .div1 {
    display: block;
    flex-grow: 1;
    box-sizing: border-box;
    flex-basis: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    justify-content: center;
  }
  .h-2 {
    color: rgb(118, 118, 121);
    font-size: 36px;
    font-family: amiriregular, serif;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .h-2,.div2 {
    display: block;
    max-width: none;
    box-sizing: border-box;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .div2 {
    line-height: 1.4;
    margin-bottom: 60px;
  }
  .div3 {
    color: rgb(101, 101, 103);
    flex-grow: 1;
    flex-basis: 0px;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    justify-content: center;
  }
  .div3,.div4 {
    display: block;
    box-sizing: border-box;
  }
  .div4 {
    max-width: none;
    margin-top: auto;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
  .div5 {
    display: block;
  }
  .div5,.a {
    box-sizing: border-box;
  }
  .a {
    color: rgb(88, 122, 141);
    border: 1px solid #587a8d;
    cursor: pointer;
    display: inline-block;
    font-size: 0.875rem;
    min-width: 250px;
    text-wrap: nowrap;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 0.75rem;
    user-select: none;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
    text-transform: uppercase;
    vertical-align: middle;
    border-top-color: rgb(88, 122, 141);
    border-top-style: solid;
    border-top-width: 1px;
    transition-delay: 0s, 0s, 0s, 0s, 0s;
    border-left-color: rgb(88, 122, 141);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(88, 122, 141);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(88, 122, 141);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s, 0.15s;
    transition-property: color, background-color, border-color, box-shadow, -webkit-box-shadow;
    text-decoration-line: none;
    white-space-collapse: collapse;
    background-position-x: 0px;
    background-position-y: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  }
  .div6 {
    display: block;
  }
  .div6,.div7 {
    box-sizing: border-box;
  }
  .div7 {
    display: none;
    flex-grow: 1;
    max-width: 80%;
    flex-basis: 0px;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    justify-content: center;
  }
  .img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow-x: clip;
    overflow-y: clip;
    aspect-ratio: auto 760 / 507;
    vertical-align: middle;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    overflow-clip-margin: content-box;
  }
}
