.hero-banner {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 400px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  background-size: cover;
  background-image: url("https://www.biolage.ca/dist/img/biolage_header_desktop_en.jpg");
  background-position-x: center;
  background-position-y: center;
}
.hero-banner:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
@media(max-width: 1280px) {
  .hero-banner {
    height: 460px;
    align-items: center;
    background-image: url("https://www.biolage.ca/dist/img/biolage_header_desktop_en.jpg");
    background-position-x: center;
    background-position-y: center;
  }
}
@media(max-width: 1024px) {
  .hero-banner {
    color: rgb(255, 255, 255);
    height: 133vw;
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    background-size: cover;
    background-image: url("https://www.biolage.ca/dist/img/biolage_header_mobile_en.jpg");
    background-position-x: right;
    background-position-y: bottom;
  }
}
