.hero-banner {
  color: rgb(255, 255, 255);
  height: 40vw;
  display: block;
  position: relative;
  max-width: 100vw;
  box-sizing: border-box;
  min-height: 680px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
}
.hero-banner:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.picture {
  box-sizing: border-box;
}
.picture:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.source {
  box-sizing: border-box;
}
.source:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.img {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40vw;
  z-index: -2;
  position: fixed;
  box-sizing: border-box;
  min-height: 680px;
  object-fit: cover;
  overflow-x: clip;
  overflow-y: clip;
  vertical-align: middle;
  object-position: center center;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  overflow-clip-margin: content-box;
}
.img:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div {
  top: 50%;
  width: 100%;
  display: block;
  position: relative;
  max-width: 1410px;
  transform: translateY(-50%);
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.div:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 38px;
  box-sizing: border-box;
  margin-top: 28px;
  font-family: Amiri, serif;
  line-height: 1;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  letter-spacing: 8px;
}
.p:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.h-1 {
  color: inherit;
  display: block;
  position: relative;
  font-size: 77px;
  max-width: 850px;
  box-sizing: border-box;
  margin-top: 4px;
  font-family: Amiri, serif;
  font-weight: 500;
  line-height: 1.2;
  margin-left: auto;
  padding-top: 0px;
  margin-right: auto;
  padding-left: 0px;
  margin-bottom: 8px;
  padding-right: 0px;
  letter-spacing: 15.5px;
  padding-bottom: 30px;
  text-transform: uppercase;
}
.h-1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.h-2 {
  color: inherit;
  display: block;
  font-size: 2.5rem;
  box-sizing: border-box;
  margin-top: 0px;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.h-2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}

@media(max-width: 576px) {
  .hero-banner {
    color: rgb(255, 255, 255);
    height: 720px;
    display: block;
    position: relative;
    max-width: 100vw;
    min-height: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
  }
  .hero-banner,.picture,.source {
    box-sizing: border-box;
  }
  .img {
    top: 0px;
    left: 0px;
    height: 720px;
    z-index: -2;
    position: fixed;
    min-height: 0px;
    object-fit: cover;
    overflow-x: clip;
    overflow-y: clip;
    vertical-align: middle;
    object-position: center center;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    overflow-clip-margin: content-box;
  }
  .img,.div {
    width: 100%;
    box-sizing: border-box;
  }
  .div {
    top: 50%;
    display: block;
    position: relative;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .p {
    color: rgb(255, 255, 255);
    margin-top: 28px;
    line-height: 1;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    letter-spacing: 8px;
  }
  .p,.h-1 {
    display: block;
    font-size: 38px;
    box-sizing: border-box;
    font-family: Amiri, serif;
  }
  .h-1 {
    position: relative;
    max-width: 850px;
    margin-top: 4px;
    font-weight: 500;
    margin-left: auto;
    padding-top: 0px;
    margin-right: auto;
    padding-left: 0px;
    margin-bottom: 8px;
    padding-right: 0px;
    letter-spacing: 15.5px;
    padding-bottom: 30px;
    text-transform: uppercase;
  }
  .h-1,.h-2 {
    color: inherit;
    line-height: 1.2;
  }
  .h-2 {
    display: block;
    font-size: 2.5rem;
    box-sizing: border-box;
    margin-top: 0px;
    font-family: inherit;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
}
