.intro-one-column {
  display: block;
  box-sizing: border-box;
  padding-top: 40px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
  background-color: rgb(255, 255, 255);
}
.intro-one-column:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div {
  width: 100%;
  display: block;
  max-width: 1410px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.div:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div1 {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
}
.div1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div2 {
  width: 100%;
  display: block;
  position: relative;
  flex-grow: 0;
  max-width: 75%;
  box-sizing: border-box;
  flex-basis: 75%;
  min-height: 1px;
  flex-shrink: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.div2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.h-1 {
  color: rgb(118, 118, 121);
  display: block;
  font-size: 2.5rem;
  box-sizing: border-box;
  margin-top: 2rem;
  text-align: center;
  font-family: Amiri, serif;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  letter-spacing: normal;
  text-transform: none;
}
.h-1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div3 {
  display: block;
  max-width: 890px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
.div3:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p {
  display: block;
  box-sizing: border-box;
  margin-top: 0px;
  line-height: 1.8;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0.8em;
}
.p:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p1 {
  display: block;
  box-sizing: border-box;
  margin-top: 0px;
  line-height: 1.8;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0.8em;
}
.p1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p2 {
  display: block;
  box-sizing: border-box;
  margin-top: 0px;
  line-height: 1.8;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0.8em;
}
.p2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.span {
  box-sizing: border-box;
  font-weight: bolder;
}
.span:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.br {
  box-sizing: border-box;
}
.br:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.span1 {
  box-sizing: border-box;
  font-weight: bolder;
}
.span1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p3 {
  display: block;
  box-sizing: border-box;
  margin-top: 0px;
  line-height: 1.8;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0.8em;
}
.p3:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p4 {
  display: block;
  box-sizing: border-box;
  margin-top: 0px;
  line-height: 1.8;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0.8em;
}
.p4:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.span2 {
  box-sizing: border-box;
  font-weight: bolder;
}
.span2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.br1 {
  box-sizing: border-box;
}
.br1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p5 {
  display: block;
  box-sizing: border-box;
  margin-top: 0px;
  line-height: 1.8;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0.8em;
}
.p5:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.span3 {
  box-sizing: border-box;
  font-weight: bolder;
}
.span3:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.br2 {
  box-sizing: border-box;
}
.br2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p6 {
  display: block;
  box-sizing: border-box;
  margin-top: 0px;
  line-height: 1.8;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0.8em;
}
.p6:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.span4 {
  box-sizing: border-box;
  font-weight: bolder;
}
.span4:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.br3 {
  box-sizing: border-box;
}
.br3:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p7 {
  display: block;
  box-sizing: border-box;
  margin-top: 0px;
  line-height: 1.8;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0.8em;
}
.p7:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div4 {
  display: block;
  box-sizing: border-box;
  text-align: center;
}
.div4:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}


@media(max-width: 576px) {
  .intro-one-column {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
  }
  .intro-one-column,.div {
    display: block;
    box-sizing: border-box;
  }
  .div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .div1 {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: center;
  }
  .div2 {
    width: 100%;
    position: relative;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
    min-height: 1px;
    flex-shrink: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .div2,.h-1 {
    display: block;
    box-sizing: border-box;
  }
  .h-1 {
    color: rgb(118, 118, 121);
    font-size: 2.5rem;
    margin-top: 2rem;
    text-align: center;
    font-family: Amiri, serif;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1em;
    letter-spacing: normal;
    text-transform: none;
  }
  .div3 {
    display: block;
    max-width: 890px;
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
  .p,.p1,.p2 {
    display: block;
    margin-top: 0px;
    line-height: 1.8;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0.8em;
  }
  .p,.p1,.p2,.span {
    box-sizing: border-box;
  }
  .span {
    font-weight: bolder;
  }
  .br,.span1 {
    box-sizing: border-box;
  }
  .span1 {
    font-weight: bolder;
  }
  .p3,.p4 {
    display: block;
    margin-top: 0px;
    line-height: 1.8;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0.8em;
  }
  .p3,.p4,.span2 {
    box-sizing: border-box;
  }
  .span2 {
    font-weight: bolder;
  }
  .br1,.p5 {
    box-sizing: border-box;
  }
  .p5 {
    display: block;
    margin-top: 0px;
    line-height: 1.8;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0.8em;
  }
  .span3 {
    font-weight: bolder;
  }
  .span3,.br2,.p6 {
    box-sizing: border-box;
  }
  .p6 {
    display: block;
    margin-top: 0px;
    line-height: 1.8;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0.8em;
  }
  .span4 {
    font-weight: bolder;
  }
  .span4,.br3 {
    box-sizing: border-box;
  }
  .p7 {
    margin-top: 0px;
    line-height: 1.8;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0.8em;
  }
  .p7,.div4 {
    display: block;
    box-sizing: border-box;
  }
  .div4 {
    text-align: center;
  }
}
