.content-block {
  display: block;
  box-sizing: border-box;
  padding-top: 40px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
  background-color: rgb(255, 255, 255);
}
.content-block:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}

@media(max-width: 575px) {
  .content-block {
    display: block;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
  }
}
