@import url('test');
@import url('https://fonts.googleapis.com/css?family=SF+Pro+Text|ADLaM+Display');
:root {
  --size-wq: 550px;
  --radius-qwsx: 11px;
  --spacing-qqq: 14px;
  --spacing-test: 33px;
}
html {
	display: block;
	view-transition-name: root;
	box-sizing: border-box;
	font-family: sans-serif;
	line-height: 1.15;
	text-size-adjust: 100%;
}


