@import url('https://fonts.googleapis.com/css?family=Roboto|Lora');
:root {
  --size-large: 144px;
  --size-small: 48px;
  --radius-full: 9999px;
  --radius-none: 0px;
  --size-medium: 96px;
  --radius-large: 8px;
  --radius-small: 4px;
  --size-x-large: 192px;
  --size-x-small: 8px;
  --spacing-unit: 16px;
  --radius-medium: 6px;
  --size-xx-large: 288px;
  --radius-x-large: 12px;
  --radius-x-small: 2px;
  --size-max-width: 1440px;
  --color-dark-gray: #333333;
  --color-light-gray: #f5f5f5;
  --spacing-half-unit: 8px;
  --spacing-six-units: 96px;
  --spacing-two-units: 32px;
  --spacing-five-units: 80px;
  --spacing-four-units: 64px;
  --color-accent-yellow: #fdd835;
  --color-primary-green: #7dbf50;
  --spacing-three-units: 48px;
  --color-secondary-green: #4e7a33;
  --spacing-one-and-half-units: 24px;
}
html {
	display: block;
	view-transition-name: root;
	box-sizing: border-box;
	line-height: 1.15;
	text-size-adjust: 100%;
	background-color: rgb(255, 255, 255);
	color: rgb(46, 56, 65);
	overflow: -moz-scrollbars-none;
}


.button-primary-button {
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-family: "Roboto";
  font-weight: bold;
  border-radius: 8px;
  background-color: #7dbf50;
}
