.header {
  width: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
}
.header:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div {
  width: 170px;
  display: block;
  box-sizing: border-box;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  animation-name: nodeInserted;
  animation-duration: 0.01s;
}
.div:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: clip;
  overflow-y: clip;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  overflow-clip-margin: content-box;
}
.img:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a {
  top: 50%;
  color: inherit;
  right: 5%;
  cursor: pointer;
  display: inline;
  position: absolute;
  font-size: 16px;
  transform: translateY(-50%);
  box-sizing: border-box;
  line-height: 1em;
  background-color: transparent;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  text-decoration-line: none;
  transition-timing-function: ease;
}
.a:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}

@media(max-width: 1280px) {
  .div {
    width: 170px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media(max-width: 1215px) {
  .header {
    max-height: var(--size-medium);
  }
}
@media(max-width: 1024px) {
  .header {
    width: 100%;
    position: relative;
  }
  .header,.div {
    display: block;
    box-sizing: border-box;
  }
  .div {
    width: 120px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    animation-name: nodeInserted;
    animation-duration: 0.01s;
  }
  .img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    overflow-x: clip;
    overflow-y: clip;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    overflow-clip-margin: content-box;
  }
  .img,.a {
    box-sizing: border-box;
  }
  .a {
    top: 50%;
    color: inherit;
    right: 5%;
    cursor: pointer;
    display: inline;
    position: absolute;
    font-size: 16px;
    transform: translateY(-50%);
    line-height: 1em;
    background-color: transparent;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    text-decoration-line: none;
    transition-timing-function: ease;
  }
}
@media(max-width: 768px) {
  .header {
    color: var(--color-primary-green);
  }
}
