.social-proof {
  display: block;
  box-sizing: border-box;
  padding-bottom: 10px;
}
.social-proof:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div {
  width: 90%;
  display: block;
  max-width: 1200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  animation-name: nodeInserted;
  animation-duration: 0.01s;
}
.div:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div1 {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  animation-name: nodeInserted;
  justify-content: space-between;
  animation-duration: 0.01s;
}
.div1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div2 {
  width: 33%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 90px;
  animation-name: nodeInserted;
  animation-duration: 0.01s;
}
.div2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.img {
  width: 230px;
  height: auto;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: clip;
  overflow-y: clip;
  margin-left: auto;
  margin-right: auto;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  overflow-clip-margin: content-box;
}
.img:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div3 {
  width: 33%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 90px;
  animation-name: nodeInserted;
  animation-duration: 0.01s;
}
.div3:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.img1 {
  width: 230px;
  height: auto;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: clip;
  overflow-y: clip;
  margin-left: auto;
  margin-right: auto;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  overflow-clip-margin: content-box;
}
.img1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div4 {
  width: 33%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 90px;
  animation-name: nodeInserted;
  animation-duration: 0.01s;
}
.div4:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.img2 {
  width: 230px;
  height: auto;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: clip;
  overflow-y: clip;
  margin-left: auto;
  margin-right: auto;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  overflow-clip-margin: content-box;
}
.img2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div5 {
  width: 33%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 90px;
  animation-name: nodeInserted;
  animation-duration: 0.01s;
}
.div5:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.img3 {
  width: 230px;
  height: auto;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: clip;
  overflow-y: clip;
  margin-left: auto;
  margin-right: auto;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  overflow-clip-margin: content-box;
}
.img3:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div6 {
  width: 33%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 90px;
  animation-name: nodeInserted;
  animation-duration: 0.01s;
}
.div6:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.img4 {
  width: 230px;
  height: auto;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: clip;
  overflow-y: clip;
  margin-left: auto;
  margin-right: auto;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  overflow-clip-margin: content-box;
}
.img4:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div7 {
  width: 33%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 90px;
  animation-name: nodeInserted;
  animation-duration: 0.01s;
}
.div7:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.img5 {
  width: 230px;
  height: auto;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: clip;
  overflow-y: clip;
  margin-left: auto;
  margin-right: auto;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  overflow-clip-margin: content-box;
}
.img5:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}

@media(max-width: 1300px) {
  .div {
    width: 90%;
  }
}
@media(max-width: 1280px) {
  .social-proof {
    padding-bottom: 10px;
  }
  .div {
    width: calc(100% - 120px);
    padding-left: unset;
    padding-right: unset;
  }
  .div2 {
    margin-bottom: 90px;
  }
  .img {
    width: 230px;
  }
  .div3 {
    margin-bottom: 90px;
  }
  .img1 {
    width: 230px;
  }
  .div4 {
    margin-bottom: 90px;
  }
  .img2 {
    width: 230px;
  }
  .div5 {
    margin-bottom: 90px;
  }
  .img3 {
    width: 230px;
  }
  .div6 {
    margin-bottom: 90px;
  }
  .img4 {
    width: 230px;
  }
  .div7 {
    margin-bottom: 90px;
  }
  .img5 {
    width: 230px;
  }
}
@media(max-width: 1024px) {
  .social-proof {
    display: block;
    box-sizing: border-box;
    padding-bottom: 20px;
  }
  .div {
    width: 100%;
    display: block;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  .div,.div1 {
    box-sizing: border-box;
    animation-name: nodeInserted;
    animation-duration: 0.01s;
  }
  .div1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .div2 {
    width: 33%;
    margin-bottom: 30px;
    animation-name: nodeInserted;
    animation-duration: 0.01s;
  }
  .div2,.img {
    display: block;
    box-sizing: border-box;
  }
  .img {
    width: 80px;
    height: auto;
    max-width: 100%;
    overflow-x: clip;
    overflow-y: clip;
    margin-left: auto;
    margin-right: auto;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    overflow-clip-margin: content-box;
  }
  .div3 {
    width: 33%;
    margin-bottom: 30px;
    animation-name: nodeInserted;
    animation-duration: 0.01s;
  }
  .div3,.img1 {
    display: block;
    box-sizing: border-box;
  }
  .img1 {
    width: 80px;
    height: auto;
    max-width: 100%;
    overflow-x: clip;
    overflow-y: clip;
    margin-left: auto;
    margin-right: auto;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    overflow-clip-margin: content-box;
  }
  .div4 {
    width: 33%;
    margin-bottom: 30px;
    animation-name: nodeInserted;
    animation-duration: 0.01s;
  }
  .div4,.img2 {
    display: block;
    box-sizing: border-box;
  }
  .img2 {
    width: 80px;
    height: auto;
    max-width: 100%;
    overflow-x: clip;
    overflow-y: clip;
    margin-left: auto;
    margin-right: auto;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    overflow-clip-margin: content-box;
  }
  .div5 {
    width: 33%;
    margin-bottom: 30px;
    animation-name: nodeInserted;
    animation-duration: 0.01s;
  }
  .div5,.img3 {
    display: block;
    box-sizing: border-box;
  }
  .img3 {
    width: 80px;
    height: auto;
    max-width: 100%;
    overflow-x: clip;
    overflow-y: clip;
    margin-left: auto;
    margin-right: auto;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    overflow-clip-margin: content-box;
  }
  .div6 {
    width: 33%;
    margin-bottom: 30px;
    animation-name: nodeInserted;
    animation-duration: 0.01s;
  }
  .div6,.img4 {
    display: block;
    box-sizing: border-box;
  }
  .img4 {
    width: 80px;
    height: auto;
    max-width: 100%;
    overflow-x: clip;
    overflow-y: clip;
    margin-left: auto;
    margin-right: auto;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    overflow-clip-margin: content-box;
  }
  .div7 {
    width: 33%;
    margin-bottom: 30px;
    animation-name: nodeInserted;
    animation-duration: 0.01s;
  }
  .div7,.img5 {
    display: block;
    box-sizing: border-box;
  }
  .img5 {
    width: 80px;
    height: auto;
    max-width: 100%;
    overflow-x: clip;
    overflow-y: clip;
    margin-left: auto;
    margin-right: auto;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    overflow-clip-margin: content-box;
  }
}
@media(max-width: 768px) {
  .div1 {
    flex-wrap: wrap;
  }
  .div2 {
    width: 50%;
  }
  .img {
    width: 90%;
  }
}
@media(max-width: 480px) {
  .rich-text {
    font-size: 1.5em;
  }
  .div1 {
    align-items: center;
    flex-direction: column;
  }
  .div2 {
    width: 100%;
  }
  .img {
    width: 80%;
  }
}
